$font: 'Montserrat', sans-serif;
$logo-color: #50c6db;
$body-bg: #d9d9d9;
$body: #434343;
$body-a: inherit;
$container-bg: #fff;
$head: #9f9c9c;
$head-br: #b0e0ea;
$head-button: #51bb7b;
$button-focus: rgb(161,242,126);
$sidebar-br: #693f7e;
$sidebar-bg: #f9f9f6;
$main: #918b8b;
$sidebar-related: #838383;
